# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\гк\IDEA projects\BettyBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
